.container {
  display: flex;
  height: 64vh;
  width: 85vw;
  margin: 3% 11.5% 0;
  justify-content: space-between;
}

h3{text-align: center;
  margin: 120px auto;
}

main {
  width: 85%;
  /* height: 80vh; */
}

.main-top {
  margin: 0 0 25px;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  background-color: #FBFBFB;
  height: 30vh;
  width: 95%;
  border-radius: 5px;
}

.main-section {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.main-bottom{
  height: fit-content;
  width: 95%;
}



@media (min-width: 1024px) {
  .main-top{
    flex-direction: column;
  }
  .main-bottom{
    display: flex;
    justify-content: space-between;
  }
  
  .welcome {
      margin: 0 0 5vh 11.5%;
  }
}
